img{
    width: 200px;
    height: 200px;
    margin: 0 20px;
    display: table;
    border-style: solid;
    border-width: 15px;
    border-color: #1068A3;
}

#bloque{
    height: 70vh;
    place-items: center;
    display: flex;
    justify-content: center;
}

#bloque>div{
    text-align: center;
    font-size: 20px;
}

#titulo{
    margin-top: 80px;
    text-align: center;
    color: #0B4870;
    font-size: 25px;
}
