*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

#logo{
    width: 55px;
    height: 55px;
}

body{
    background: white;
}

.navegacion{
    width: 1000px;
    margin: 30px auto;
    background: #0B4870;
}
.menu{
    display: flex;
    justify-content: space-around;
}

.navegacion ul{
    list-style: none;
}

.menu > li {
    position: relative;
    display: inline-block;
}

.menu > li > a{
    display: block;
    padding: 15px 20px;
    color: white;
    font-family: Verdana;
    text-decoration: none;
}

.menu li a:hover{
    color: violet;
    transition: all .3s;
}

.submenu {
    text-align: center;
    position:absolute;
    background: #1068A3;
    width: 200%;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1s;
}

.submenu li a{
    display: block;
    padding: 15px;
    color: white;
    font-family: Verdana;
    text-decoration: none;
}

.menu li:hover .submenu{
    visibility: visible;
    opacity: 1;
}

